bayesian_optimization==1.2.0
gym==0.21.0
matplotlib==3.4.2
numpy==1.19.5
opencv_python==4.5.1.48
scipy==1.7.3
Pillow==8.4.0
pytorch_lightning==1.5.10
setuptools==59.5.0
stable_baselines==2.10.2
stable_baselines3==1.1.0
torch==1.10.1
tqdm==4.51.0
